@media screen and (max-width: 1400px) {
  .inner {
    width: 90%;
  }
  /* main */
  .sectors .img_list {
    width: 90%;
  }
  /* footer */
}

@media screen and (max-width: 1024px) {
  /* header */
  .header .contact {
    font-size: 1.35vw;
  }

  /* main */
  .txt_wrap .tit {
    font-size: 2vw;
  }
  .txt_wrap p {
    font-size: 2.7vw;
  }
  .txt_wrap a {
    font-size: 1.7vw;
  }
  .approach .inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .approach .img_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .approach .img_list li {
    width: calc(50% - 15px);
  }
  .approach .img_list li a {
    height: 284px;
  }
  .approach .img_list li span {
    opacity: 1;
  }
  .approach .img_list li:hover span {
    display: none;
  }
  .approach .fixed {
    position: static;
    width: 100%;
    margin-bottom: 50px;
  }
  .approach .fixed .txt_wrap {
    position: static;
    transform: none;
  }
  .approach .fixed .txt_wrap.on {
    position: static;
    transform: none;
  }
  .journal .tit {
    font-size: 2.7vw;
  }
  .journal .list li a h3 {
    font-size: 1.5vw;
  }
  .journal .list li a p {
    font-size: 1.3vw;
  }

  /* footer */
  .footer .inner {
    flex-wrap: wrap;
    padding-left: 5%;
  }

}

@media screen and (max-width: 768px) {
  /* header */
  .header .contact {
    font-size: 2vw;
  }
  .header .gnb ul li a {
    font-size: 3vw;
  }
  .header .gnb ul li a span {
    font-size: 2vw;
  }

  /* main */
  .contents {
    margin-bottom: 20vw;
  }
  .service .inner {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .service .img_wrap {
    width: 100%;
  }
  .service .txt_wrap {
    width: 100%;
    margin-bottom: 50px;
  }
  .journal .tit {
    font-size: 3vw;
  }
  .journal .list {
    flex-wrap: wrap;
  }
  .journal .list li {
    width: calc(50% - 15px);
    margin-bottom: 20px;
  }
  .journal .list li a h3 {
    font-size: 2vw;
  }
  .journal .list li a p {
    font-size: 1.8vw;
  }
  
  /* footer */
  .footer {
    height: 20vw;
  }
  .footer .inner {
    align-items: baseline;
  }
  .footer .f_info {
    width: 100%;
    padding: 0 10%;
  }
  .footer .f_info li {
    font-size: 1.7vw;
  }
  .footer .f_sns {
    width: 50%;
    padding: 0 10%;
    margin-top: 2%;
  }
  .footer .f_sns ul li {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 500px) {
  /* header */
  .header .gnb_btn {
    left: 25px;
    width: 25px;
  }
  .header .logo {
    width: 171px;
  }
  .header.on .gnb.on {
    width: 270px;
  }
  .header .contact {
    display: none;
  }
  .header .gnb.on {
    width: 290px;
  }
  .header .gnb ul li a {
    font-size: 3.5vw;
  }
  .header .gnb ul li a span {
    font-size: 2.5vw;
  }
  .header .gnb ul li.mobile {
    display: block;
    position: absolute;
    bottom: -50px;
    width: 100%;
  }
  .header .gnb ul li.mobile a {
    display: block;
    text-transform: uppercase;
  }

  /* main */
  .txt_wrap .tit {
    font-size: 4vw;
  }
  .txt_wrap p {
    font-size: 4.5vw;
  }
  .txt_wrap a {
    font-size: 2.5vw;
  }
  .contents {
    margin-bottom: 47vw;
  }
  .main_visu .main_tit {
    font-size: 7vw;
    width: 100%;
    text-align: center;
  }
  .about {
    padding: 11% 0;
  }
  .about p {
    font-size: 5vw;
  }
  .approach {
    padding: 11% 0;
  }
  .approach .img_list li {
    width: 100%;
  }
  .approach .img_list li span {
    font-size: 4.5vw;
  }
  .sectors {
    padding: 13.24% 0 85%;
    margin-bottom: 120%;
  }
  .sectors .img_list {
    flex-wrap: wrap;
    margin-bottom: -93%;
  }
  .sectors .img_list li {
    width: 100%;
    margin-bottom: 20px;
  }
  .sectors .img_list li h3 {
    font-size: 4.5vw;
  }
  .journal {
    padding: 23.8% 0 14.71%;
  }
  .journal .tit {
    font-size: 4vw;
  }
  .journal .list li {
    width: 100%;
  }
  .journal .list li a h3 {
    font-size: 3vw;
  }
  .journal .list li a p {
    font-size: 2.5vw;
  }

  /* footer */
  .footer {
    height: 47vw;
  }
  .footer .inner {
    padding-left: 0;
  }
  .footer .f_logo h2 {
    width: 47px;
    height: 55px;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer .f_info {
    width: 100%;
    padding: 21% 0 3%;
  }
  .footer .f_info li {
    font-size: 2.5vw;
    text-align: center;
  }
  .footer .f_sns {
    width: 100%;
    padding: 0;
    margin-top: 3%;
  }
  .footer .f_sns ul {
    justify-content: center;
  }
  .footer .f_sns ul li {
    font-size: 2vw;
  }
}

@media screen and (max-width: 360px) {
  /* header */
  .header.on .gnb.on {
    width: 250px;
  }
  .header .gnb.on {
    width: 270px;
  }

  /* main */
  .txt_wrap .tit {
    font-size: 5vw;
  }
  .txt_wrap p {
    font-size: 5vw;
    line-height: 1.35;
    margin: 33px 0;
  }
  .txt_wrap a {
    font-size: 3vw;
  }
  .contents {
    margin-bottom: 50vw;
  }
  .approach .img_list li span {
    font-size: 6vw;
  }
  .sectors .img_list li h3 {
    font-size: 5.5vw;
  }
  .service .txt_wrap {
    margin: 25px 0 50px;
  }
  .journal .tit {
    font-size: 5vw;
  }
  .journal .list li a h3 {
    font-size: 4vw;
  }
  .journal .list li a p {
    font-size: 3.5vw;
  }

  /* footer */
  .footer {
    height: 50vw;
  }
  .footer .f_info {
    padding: 25% 0 3%;
  }
  .footer .f_info li {
    font-size: 3vw;
  }
  .footer .f_sns {
    margin-top: 1%;
  }
  .footer .f_sns ul li {
    font-size: 2.5vw;
  }
}